@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: gold;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    text-align: justify;
}

.container {
    min-height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------HEADER------------------------ */
/* ===============navigation===================== */
header {
    background-image: url(./img/bg-foguete.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;    
}


.menu {
    margin: 0 auto;    
}

.menu ol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.menu li {
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    list-style: none;
    align-items: center;
    transition: .5s;
}

.menu li :hover {
    background-color: aqua;
    padding: 1rem;
    border-radius: 1.5rem;
    transition: .8s;
}

.presentation {
    margin: 0 auto;
}

/* ====================presentation=============== */

.presentation h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

.presentation h1:nth-child(1) {
    animation-delay: .8s;
}

.presentation h1:nth-child(2) {
    animation-delay: 1.8s;
} 

.presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}

.presentation h1:nth-child(1) span {
    animation-delay: .5s;
}

.presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}

.presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

.presentation .line {
    margin-left: 20rem;
    font-size: 5rem;
    padding: 1rem;    
    color: #70cfc4;
    white-space: nowrap;
    overflow: hidden;
    animation-delay: 5s;
    animation: type_writer 2s steps(30) normal, blink_bar 800ms infinite normal both;
    border-right: 0.7rem solid #70cfc4;
}

#social-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-decoration: none;
}

#social-links ul li {
    margin: 0 1rem;
    transition: .5s;
    list-style-type: none;
    border-radius: .5rem;
    padding: 0.3rem;
}

#social-links ul li:hover {
    background-color: aqua;
    	
}

/* -----------------ABOUT------------------ */

#about {
    width: 80%;
    margin: 0 auto;
    margin-top: 10rem;
    text-align: center;
    font-size: 1.4rem;
}

#about h2{
    padding: 50px 0;
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

/* ----------------TECHNOLOGIES--------------- */

#technologies .portfolio {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

#technologies .portfolio-header {
    margin-bottom: 5rem;
    margin: 0 auto;
}

#technologies .section-title {
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-top: 10rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

#technologies .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#technologies .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    margin: 20px auto;
    overflow: hidden;
    border-radius: 1rem;
}

#technologies .project-info {
    padding: 3rem;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #264653 0%, #1e8377 100%);
    color: white;
}

#technologies .project-info h2 {
    font-size: 4rem;
    font-weight: 500;
}

#technologies .project-info h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#technologies .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#technologies .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #2a9d8f 0%, #485563 100%);
    opacity: 0.6;
}

#technologies .project-img img {
    transition: 0.5s ease transform;
}

#technologies .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* --------------------FOOTER------------------*/
#contact {
    display: flex;
    
    flex-direction: column;
    position: relative;
    bottom: auto;
    width: 100%;
    background-image: linear-gradient(60deg, #264653 0%, #1e8377 100%);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    
}

.main {
    display: flex;
    
    width: 80%;
    margin: 0 auto;    
}

.main .box {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 1rem 1rem;
}

.box h2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;

}

.box .social {    
    margin: 2rem 0 0 0;
}

.left .social {
    flex-direction: column;
    display: flex;
    margin: 2rem 0 0 0;
}

.left .content .social a {
    padding: 0.2rem;
    margin-right: 1rem;
    text-align: center;
    border-radius: 0.5rem;
}


.left .content p {
    text-align: justify;
    font-size: 1.2rem;
}

.center .content div {
    margin-top: 2rem;
    /* text-align: center;     */
}

.center .content div span {
    font-weight: 300;
    cursor: pointer;
}

.rigth form input, .rigth form textarea {
    width: 80%;
    border: 0.1rem solid;
    /* float: right; */
}

.rigth form input:focus,
.rigth form textarea:focus {
    outline-color: rgb(55, 133, 223);
}

.rigth form .text {
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.rigth form .btn {
    margin-top: 0.2rem;
}

.rigth form .btn button {
    height: 3rem;
    width: 70%;
    background:
        linear-gradient(90deg, #1095c1 50%, rgb(224, 79, 54) 0) var(--_p, 100%)/200% no-repeat;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    transition: .4s;

    border: 0.1rem;
    border-radius: 0.5rem;
    color: aliceblue;
    cursor: pointer;
    
}

.rigth form .btn button:hover {
    --_p: 0%;
}

.bottom {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;  
    
}
.bottom .copy p {
    width: 100%;     
    font-size: 1.2rem;
    margin: 0 auto;
}

/* Keyframes */

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: gold;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%
    }
}



@keyframes blink_bar{
    from {
        border-right-color: #70cfc4;
    }
    to {
        border-right-color: transparent;
    }
}


@keyframes type_writer {
    from {
        width: 0;
    }
    to {
        width: 65%;
    }
}

/* Media Query */
@media only screen and (min-width: 768px) {
    #technologies .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #technologies .all-projects .project-info {
        height: 100%
    }

    #technologies .all-projects .project-img {
        height: 100%
    }

    #technologies .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}

@media only screen and (min-width: 400px) {
        
    .menu li {
        display: block;
        margin: 1rem;
        font-size: 1.2rem;
        list-style: none;
        align-items: center;
        transition: .5s;
    }

    .presentation {
        max-width: 90%;
    }

    .presentation h1 {
        /* display: block; */
        width: fit-content;
        font-size: 3rem;
        color: transparent;
        animation: text_reveal .5s ease forwards;
        animation-delay: 1.5s;
    }

    .presentation .line {
        margin-left: 10rem;
        font-size: 4rem;
    }


    #technologies .project-item {
        display: flex;
        height: 600px;
        margin: 1rem;
        width: 100%;
        border-radius: 0;
    }

    #technologies .all-projects .project-info {
        height: 100%
    }

    #technologies .all-projects .project-img {
        display: none;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    address {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    address .content  {
        display: flex;
        flex-direction: column;
    }
    
}
